<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-4x"></i>
    <h1 class="display-5">My Secrets!</h1>
    <% ; data.forEach((packet)=>{%> 
      <form action="/deleteblog" method="POST">
            <input type="hidden" name="id" value=<%=packet.id%>>
            <button class="btn"><i class="fa fa-trash"></i></button>
      </form>
    <p class="secret-text"> 
    <span class="userType">
      <%=packet.user%><br>
      <%=packet.bio%><br>
      <b class="bolder"><%=packet.title%></b> <br>
    </span>
      <%=packet.text%><hr>
    <%});%>  
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    
  </div>
</div> 
<%- include('partials/footer') %>
