<%- include('partials/header') %>
<%- include('partials/navbar') %>
<script>
  function confirmingDeletion(){
    let res=window.confirm('Are you sure you want delete this account.');
    window.alert(res + username);
    document.getElementById("qwe").innerHTML = "huhuhuhuhu";
  }
</script>
<div class="jumbotron text-center">
  <a class="btn btn-outline-dark positionDel" href="/deleteacc" role="button" onclick="return confirm('Your account will be deleted permanently. Are you sure?')">Delete Account</a>
  <div class="container">
    <i class="fas fa-key fa-4x"></i>
    <h1 class="display-5">You've Discovered My Secret!</h1>
    <% data.forEach((packet)=>{%>
    <p class="secret-text">
    <span class="userType">
      <%=packet.user%><br>
      <%=packet.bio%><br>
      <b class="boulder"><%=packet.title%></b> <br>
    </span>
      <%=packet.text%><hr>
    <%});%>  
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
